<%= form_with(model: movie, local: m) do |form| %>

  <div id="err"></div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date %>
  </div>

  <div class="field mb-3">
    <% if movie.image.attached? %>
      <%= image_tag movie.image, size: '100x100', style: 'border-radius: 1%' %>
    <% else %>
      <div class="text-center">No Image found.</div>
    <% end %>
    <br />
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
