<p id="notice"><%= notice %></p>


<%=render 'movies/filter' %>

<h1>Movies</h1>

<% if @movies.any? %>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Release date</th>
      <th>Rating</th>
      <th>Review Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="movie_body">
    <% @movies.each do |movie| %>
       <tr id="<%=movie.id%>">
         <%=render 'movie', movie: movie %>
       </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1 class="d-flex align-items-center justify-content-center w-100 h-100", style="margin-top: 10rem">No movies Available</h1>
  <%end %>
<br>

<%= link_to 'New Movie', new_movie_path , :class => 'btn btn-primary movie-create', data: { bs_toggle: "modal", bs_target: "#exampleModal"}, remote:true if can? :create ,Movie%>
<%=will_paginate @movies %>