<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<!--Ratings-->
<% if @rating.persisted? %>
  You gave <%=@rating.star %> Rating .
  <%=link_to "Edit" ,edit_movie_rating_path(@movie,@rating) , remote: true%>
<%else %>
  <%= render 'ratings/form', rating: @rating %>
<%end %>

<%= render 'ratings/ratings', ratings: @ratings %>



<!--Reviews-->

<%= render 'reviews/review', reviews: @movie.reviews %>

<%= render 'reviews/form', review: @review %>



<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
