
<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<div style="max-width: 25rem">
  <% if @movie.image.present? %>
    <%= image_tag @movie.image,:class => "img-fluid"%>
    <% else %>
    <h5>Photo Not available</h5>
  <% end %>
</div>

<!--Ratings-->
<div id="ratings">
  <%= render 'movies/rating' %>
</div>

<!--Reviews-->

<%= render 'reviews/form', review: @review %>

<div id="reviews">
  <% if @movie.reviews.any? %>
    <% @movie.reviews.each do |r| %>
        <%= render 'reviews/review', r: r %>
    <%end %>
  <%else %>
     <h4>No Reviews Available</h4>
  <%end %>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
