<div class="container-sm" style="max-width: 50rem">

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<div style="max-width: 25rem">
  <% if @movie.image.present? %>
    <%= image_tag @movie.image,:class => "img-fluid"%>
    <% else %>
    <h5>Photo Not available</h5>
  <% end %>
</div>

<br>

<!--Ratings-->
<div id="ratings">
  <%= render 'movies/rating' %>
</div>
<br>
<!--Reviews-->
<h4>Add Review</h4>
<%= render 'reviews/form', review: @review %>
<br>
<div id="reviews">
  <h3>Reviews</h3>
  <% if @reviews.any? %>
    <% @reviews.each do |r| %>
        <%= render 'reviews/review', r: r %>
    <%end %>
  <%end %>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

</div>