<%= form_with(model: [@movie,rating], local: false) do |form| %>
  <div class="input-group">
    <div class="field mb-3 m-2">
      <%= form.collection_radio_buttons :star, (1..5).reverse_each.map { |n| [n, "#{n}â­"] }, :first, :last do |b| %>
        <%= b.radio_button :class => 'form-check-input'%>
        <%= b.label(style: 'display: inline') %>
      <% end %>
      <%= form.submit 'Add Rating' %>
    </div>
  </div>
<% end %>
